{:main codeevaluatepro.core
 :output-to "resources/public/js/compiled/app.js"
 :output-dir "resources/public/js/compiled/out"
 :optimizations :advanced
 :closure-defines {goog.DEBUG false}
 :pretty-print false}
